{% extends 'base.html' %}

{% block content %}
<h1>View Students</h1>
<div class="students-list">
    {% if students %}
        <table>
            <thead>
                <tr>
                    <th>Roll Number</th>
                    
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                    <td>{{ student.user }}</td>
                    
                    <td>
                        <a href="{% url 'management:add_marks' %}?student_id={{ student.id }}">Add Marks</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No students found.</p>
    {% endif %}
</div>
{% endblock %} 